@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;
    section{
        .contact{
            margin: 0 auto;
            width: 80%;
            align-items: center;
            margin-top: 10em;
            
            .location-container{
                @include flex(space-between,center);
                gap:5px;
                margin-top: 2em;                
            }
        .support{
            padding: 20px;
            width: 250px;
            background-color: #F4F7FB;
            border-radius: 10px;
        }
        }
        #old{
            margin-left: 40%;
        }
        #four{
            margin-left: 35%;
        }

        .mail{
            margin-left: 30%;
            margin-top: -20em;
            border-radius: 50%;
            
        }
    }
    
    